<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- 引入缓存的配置文件properties -->
    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <!-- 此位置是相对于:部署后的项目根路径 -->
                <!-- <value>/WEB-INF/cache.properties</value> -->
                <!-- 此位置是相对于:文件直接在src 目录下 -->
                <!-- <value>classpath*:cache.properties</value> -->
                <!-- 此位置是相对于:文件在目录下面 -->
                <!-- <value>classpath*:cache/cache.properties</value> -->
                <value>classpath*:redis.properties</value>
                <!-- 此位置是从服务器环境变量中查找名为：XXX 的值(例如：file:D:/test/test.properties) -->
                <!-- <value>${XXX}</value> -->
                <!-- 此位置是相对于:文件系统 -->
                <!-- <value>file:D:/test/test.properties</value> -->
            </list>
        </property>
    </bean>

    <!-- redis属性配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.pool.maxTotal:1024}" />
        <property name="maxIdle" value="${redis.pool.maxIdle:200}" />
        <property name="numTestsPerEvictionRun" value="${redis.pool.numTestsPerEvictionRun:1024}" />
        <property name="timeBetweenEvictionRunsMillis" value="${redis.pool.timeBetweenEvictionRunsMillis:30000}" />
        <property name="minEvictableIdleTimeMillis" value="${redis.pool.minEvictableIdleTimeMillis:30000}" />
        <property name="softMinEvictableIdleTimeMillis" value="${redis.pool.softMinEvictableIdleTimeMillis:10000}" />
        <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis:1000}" />
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow:true}" />
    </bean>

    <!-- redis集群配置 哨兵模式 -->
    <bean id="sentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
        <property name="master">
            <bean class="org.springframework.data.redis.connection.RedisNode">
                <!--这个值要和Sentinel中指定的master的值一致，不然启动时找不到Sentinel会报错的-->
                <property name="name" value="mymaster"></property>
            </bean>
        </property>
        <!--记住了,这里是指定Sentinel的IP和端口，不是Master和Slave的-->
        <property name="sentinels">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisNode">
                    <constructor-arg name="host" value="${redis.sentinel.host1:100.80.180.38}"></constructor-arg>
                    <constructor-arg name="port" value="${redis.sentinel.port1:26379}"></constructor-arg>
                </bean>
            </set>
        </property>
    </bean>

    <!-- redis服务器中心 -->
    <bean id="jedisConnectionFactory"  class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg name="sentinelConfig" ref="sentinelConfiguration"/>
        <property name="password" value="${redis.password:123456}" />
        <property name="timeout" value="${redis.timeout:3600000}" ></property>
    </bean >

    <!-- 存储序列化 -->
    <bean name="stringRedisSerializer"
          class="org.springframework.data.redis.serializer.StringRedisSerializer" />
    <!-- 集群Resis使用模板 -->
    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
    </bean>

</beans>
