<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>黑色Html5响应式个人博客模板――主题《如影随形》</title>
    <meta name="keywords" content="个人博客模板,博客模板,响应式"/>
    <meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。"/>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/media.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<div class="ibody">
    <header>
        <h1>欢欢年代</h1>

        <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>

        <div class="logo"><a href="/"></a></div>
        <nav id="topnav"><a href="index.html">首页</a><a href="about.html">关于我</a><a href="newlist.html">慢生活</a><a
                href="share.html">模板分享</a><a href="new.html">模板主题</a></nav>
    </header>
    <article>
        <div class="banner">
            <ul class="texts">
                <br>The best life is use of willing attitude, a happy-go-lucky life. </br>
                最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
            </ul>
        </div>
        <div class="bloglist">
            <h2>
                <p><span>推荐</span>文章</p>
            </h2>
            <#list articleList as article>
            <div class="blogs">
                <h3><a href="/">${article.subject}</a></h3>
                <figure><img src="${article.imgUrl}"></figure>
                <ul>
                    <p>${article.content}</p>
                    <a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                </ul>
                <p class="autor">
                    <span>作者：杨青</span>
                    <span>分类：【<a href="/">日记</a>】</span>
                    <span>浏览（<a href="/">459</a>）</span>
                    <span>评论（<a href="/">30</a>）</span>
                </p>

                <div class="dateview">${article.createTime}</div>
            </div>
            </#list>
        </div>
    </article>
    <aside>
        <div class="avatar"><a href="about.html"><span>关于詹欢欢</span></a></div>
        <div class="topspaceinfo">
            <h1>执子之手，与子偕老</h1>

            <p>于千万人之中，我遇见了我所遇见的人....</p>
        </div>
        <div class="about_c">
            <p>网名：${user.netName}</p>

            <p>职业：${user.job} </p>

            <p>籍贯：${user.familyNativePlace}</p>

            <p>电话：${user.mobile}</p>

            <p>邮箱：${user.email}</p>
        </div>
        <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#"
                                                                                                            class="bds_tsina"
                                                                                                            data-cmd="tsina"
                                                                                                            title="分享到新浪微博"></a><a
                href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren"
                                                                               data-cmd="renren" title="分享到人人网"></a><a
                href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more"
                                                                                   data-cmd="more"></a></div>
        <div class="tj_news">
            <h2>
                <p class="tj_t1">最新文章</p>
            </h2>
            <ul>
                <#list articleList as article>
                    <li><a href="/">${article.subject}</a></li>
                </#list>
            </ul>
            <h2>
                <p class="tj_t2">推荐文章</p>
            </h2>
            <ul>
                <#list articleList as article>
                    <li><a href="/">${article.subject}</a></li>
                </#list>
            </ul>
        </div>
        <div class="links">
            <h2>
                <p>友情链接</p>
            </h2>
            <ul>
                <li><a href="/">詹欢欢个人博客</a></li>
                <li><a href="/">3DST技术社区</a></li>
            </ul>
        </div>
        <div class="copyright">
            <ul>
                <p> Design by <a href="/">DanceSmile</a></p>

                <p>鄂ICP备11002373号-1</p>
                </p>
            </ul>
        </div>
    </aside>
    <script src="/js/silder.js"></script>
    <div class="clear"></div>
    <!-- 清除浮动 -->
</div>
</body>
</html>
