<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huan.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.huan.model.UserInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="username" property="username" jdbcType="VARCHAR"/>
    <result column="net_name" property="netName" jdbcType="VARCHAR"/>
    <result column="job" property="job" jdbcType="VARCHAR"/>
    <result column="family_native_place" property="familyNativePlace" jdbcType="VARCHAR"/>
    <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
    <result column="email" property="email" jdbcType="VARCHAR"/>
  </resultMap>
</mapper>